// Required Parameters
params.reads = "/scratch/cgsb/gencore/out/Gresham/2017-05-24_HKFYTBGX2/merged/HKFYTBGX2_n0{1,2}_mini02_partii_61.fastq.gz"
params.ref = "/scratch/work/cgsb/genomes/Public/Fungi/Saccharomyces_cerevisiae/Ensembl/R64-1-1/Saccharomyces_cerevisiae.R64-1-1.dna.toplevel.fa"
params.outdir = "/scratch/ps163/nf/out"
params.snpeff_db = "Saccharomyces_cerevisiae"
params.pl = "illumina"
params.pm = "nextseq"
params.fcid = "merged"
params.adapters = "/share/apps/trimmomatic/0.36/adapters/NexteraPE-PE.fa"
params.ancestor_bam = " /scratch/cgsb/gresham/LABSHARE/Resources/gdna_pipe_resources/DGY1657_Ensemble_R64.bam"

// JBrowse params
params.do_jbrowse = true
params.gff = "/scratch/work/cgsb/genomes/Public/Fungi/Saccharomyces_cerevisiae/Ensembl/R64-1-1/Saccharomyces_cerevisiae.R64-1-1.34.gff3"
params.jbrowse_pi = "Gresham"
params.dataset_name = "DGY1726"

// Set the Nextflow Working Directory
// By default this gets set to params.outdir + '/nextflow_work_dir'
workDir = params.outdir + '/nextflow_work_dir'

// slurm and resource allocation
process {
    executor = 'slurm'
    clusterOptions = '--export=NONE'
    cpus = 10
    memory = { 8.GB * task.attempt }
    time = { 60.min * task.attempt }
    errorStrategy = 'retry'
    maxRetries = 3
    withName: markDuplicatesSpark { memory = '16 GB' }
}
